<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li class="active">Legislations</li>
    </ol>
</div>

<div class="container-fluid" ng-controller="LegislationController">
    <div ng-if="!opened" style="font-size:1.2em; position: absolute; margin-left:-150px; left:50%; top:50%; z-index:10000; background-color:#ffffff; padding:30px; border-radius:5px">
        <i class="fa fa-fw fa-sun-o fa-spin"></i>Loading. Please wait...
    </div>
    <div class="row" style="position: relative; top: -80px">
        <div class="col-xs-3 pull-right text-right">
            <div class="btn-group" data-dropdown>
                <button type="button" class="btn btn-default-alt dropdown-toggle alt-border" id="stageSelector">
		        <span ng-if="!filtered">Filter Applications by Stage</span><span ng-if="filtered">Selected Stage:</span>  &nbsp;
		        <i class="fa fa-caret-down"></i>
		      </button>
                <ul class="dropdown-menu" role="menu" style="text-align: right;">
                    <li ng-repeat="stage in stages">
                        <a class="dropdown-toggle"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary" style="margin-top:-35px">
                <div class="panel-heading" style="background-color:#000000">
                    <h3 style="color:#ffffff; margin-top:5px">Legislation Management</h3>

                    <a class="pull-right" style="color:#ffffff; border:#none; font-size:1.2em; border-radius:5px; margin-top:-32px" ng-click="newLegislation()" data-toggle="modal" data-target="#legislationModal"><i class="fa fa-plus"></i></a>
                </div>
                <div class="panel-body">

                    <form enctype="multipart/form-data" accept-charset="utf-8" hidden="true" method="post" action="" name="caseUpload">
                        <input type="hidden" name="uploadApplications">
                        <input type="file" required="true" onchange="checkUpload(event)" id="applicationFile" name="application" />
                        <input type="submit" value="upload" id="uploadApplicationBtn">
                    </form>

                    <div class="input-icon right mb10">
                        <i class="fa fa-search"></i>
                        <input type="text" ng-model="query" class="form-control" placeholder="Search..." id="Search" ng-keydown="searchForLegislations($event)" ng-model-options="{debounce : 500} ">
                    </div>
                    <table id="casesTbl" class="table table-condensed">
                        <tr style="background-color: #E8E9EC" class="tableHeaders">
                            <td style="width:15%">
                                <a ng-click="sortType = 'legislationNumber'; sortReverse = !sortReverse">
                    Legislation Number
                    <span ng-show="sortType == 'legislationNumber' && !sortReverse" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'legislationNumber' && sortReverse" class="fa fa-caret-down"></span>
                  </a>
                            </td>
                            <td style="width:50%">
                                <a ng-click="sortType = 'legislationName'; sortReverse = !sortReverse">
                    Legislation Name
                    <span ng-show="sortType == 'legislationName' && !sortReverse" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'legislationName' && sortReverse" class="fa fa-caret-down"></span>
                  </a>
                            </td>
                            <td style="width:15%">
                                <a ng-click="sortType = 'dateOfAssent'; sortReverse = !sortReverse">
                  	Year
										<span ng-show="sortType == 'dateOfAssent' && !sortReverse" class="fa fa-caret-up"></span>
										<span ng-show="sortType == 'dateOfAssent' && sortReverse" class="fa fa-caret-down"></span>
                  </a>

                            </td>


                            <td style="width:30%">
                                <a ng-click="sortType = 'capturedBy.firstName'; sortReverse = !sortReverse">
											Captured By
						<span ng-show="sortType == 'legislation.capturedBy.firstName' && !sortReverse" class="fa fa-caret-up"></span>
						<span ng-show="sortType == 'legislation.capturedBy.firstName' && sortReverse" class="fa fa-caret-down"></span>
										</a>

                            </td>

                            <td style="width:30%">
                                <a ng-click="sortType = 'capturedBy.firstName'; sortReverse = !sortReverse">
                      Linked
            <span ng-show="sortType == 'legislation.capturedBy.firstName' && !sortReverse" class="fa fa-caret-up"></span>
            <span ng-show="sortType == 'legislation.capturedBy.firstName' && sortReverse" class="fa fa-caret-down"></span>
                    </a>

                            </td>



                            <td style="width:5%">Actions</td>
                        </tr>
                        <tr id="rowTmp_Est" ng-repeat="legislation in legislations | orderBy:sortType:sortReverse">
                            <td class="editables">

                                <span class="editable" name="applicationID" form="rowform" onchange="editItem(this,'itemID')" required>{{legislation.legislationNumber}}

                      </span>

                            </td>

                            <td class="editables">

                                <span class="editable" name="applicantname" form="rowform" onchange="editItem(this,'itemID')" required>{{legislation.legislationName}}

                      </span>

                            </td>

                            <td class="editables">

                                <span class="editable" name="email" form="rowform" onchange="editItem(this,'itemID')" required>
													{{legislation.dateOfAssent | date : "yyyy"}}
                      </span>
                            </td>

                            <td class="editables">

                                <span class="editable" name="email" form="rowform" onchange="editItem(this,'itemID')" required>
													{{(legislation.capturedBy.length > 0)? legislation.capturedBy[0].firstName + ' ' + legislation.capturedBy[0].lastName : legislation.capturedBy.firstName + ' ' + legislation.capturedBy.lastName}}
                      </span>
                            </td>

                            <td class="editables">

                                <span class="editable" name="email" form="rowform" onchange="editItem(this,'itemID')" required>
													{{(legislation.parentLegislation == undefined)? 'No' : 'Yes'}}
                      </span>
                            </td>

                            <td style="white-space: nowrap">
                                <!-- form -->
                                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
                          Save
                        </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
                          Cancel
                        </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <!-- <a class="editItem" onclick="assignMentorModal(this)" ><i class="fa fa-edit"></i></a> -->

                                    <a data-user="Admin" class="editItem" data-backdrop="static" data-keyboard="false" ng-click="markAsEnglish(legislation)"><i class="fa fa-gbp"></i></a>
                                    <a data-user="Admin" class="editItem" data-backdrop="static" data-keyboard="false" ng-click="openLegislation(legislation)"><i class="fa fa-edit"></i></a>
                                    <!--a class="viewItem" ng-click = "deleteLegislation(legislation.id)"><i class="fa fa-trash-o"></i></a-->

                                    <!-- <a class="deleteItem" data-user="Admin" onclick="deleteEstimate(this,'itemID','Estimates.php','deleteEstimates','cleanRow', 'Estimates')"><i class="fa fa-trash-o"></i></a> -->
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="!showLegislations && !returned" style="position: relative; left: 50%; margin-left: -100px; height: 50px; margin-top: 40px"><i class='fa fa-fw fa-sun-o fa-spin'></i> {{message}}</div>
                    <div ng-if="legislations.length == 0 && returned" style="position: relative; left: 48%; margin-left: -100px; height: 50px; margin-top: 40px">No legislations of this type found. Click <a data-toggle="modal" data-target="#addLegislationModal">here</a> to create one.</div>

                </div>
            </div>
        </div>
    </div>
    <ng-include src="'templates/legislation-modal.html'"></ng-include>


    <pagination total-items="totalItems" max-size="10" items-per-page="numberOfItemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
