<div id="addAreaOfLawModal" class="modal fade" style="z-index:3000; background-color:rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" style="width:50%;padding-left: 2%;padding-right: 2%; ">
    <div class="modal-content" style="margin-top: 8%">
      <div class="modal-header" style="border-bottom:none">
          <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 style="font-weight: 100;"><span id="CustomerHeading">&nbsp&nbspAdd Area of Law</span></h4>
        <p id="WelcomeMessage" style="margin-left:12px">
          Please ensure that you fill in all the mandatory sections in the form.
        </p>
      </div>

      <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none">

        <!-- Start Form-->

              <form id ="applicationForm" name="form" class="css-form" ng-submit="saveApplication()" novalidate>
                  <div class="row">
                    <span id="sectionHeading" style="position:relative;top:10px">Add Advocate</span>
                    <select id="plaintiff" ui-select2="{minimumInputLength: 2, width: 'resolve'}" ng-model="appearance.plaintiff"  onchange="showCustomerDetails()" style="font-weight: 700; width:100%; position: relative; top:10px; vertical-align: middle; background-color: white" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="Area of Law" placeholder = "Area of Law" >
                        <option>
                          S. Kaingu
                        </option>
                        <option>
                          M. Ngulube
                        </option>
                        <option>
                          C. Chuula
                        </option>
                    </select>

                    <span id="sectionHeading" style="position:relative;top:15px">Add Law Firm</span>
                    <select id="plaintiff" ui-select2="{minimumInputLength: 2, width: 'resolve'}" ng-model="appearance.plaintiff"  onchange="showCustomerDetails()" style="font-weight: 700; width:100%; position: relative; top:15px; vertical-align: middle; background-color: white" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="Area of Law" placeholder = "Area of Law" >
                        <option>
                          S. Kaingu
                        </option>
                        <option>
                          M. Ngulube
                        </option>
                        <option>
                          C. Chuula
                        </option>
                    </select>

                    <button class="btn btn-primary-alt btn-md btn-block" style="position:relative; top:25px">Add Defendant</button>




                  </div>

                  <div class = "form-group">
                    <button id="submit" type="submit" class="btn btn-primary-alt pull-right"  style="width:120px">Save</button>


                    <div id="submitAppMsg" class="pull-left" style="font-size: larger; position: relative; top: 5px"></div>
                  </div>

            </form>

   </div>
   <div class="modal-footer" style="border-top:none">


    </div>
 </div>
</div>
</div>
