
        <div class="container-fluid" ng-controller="TablesViewableController" ng-if="part.showTable">

          <div class="row" ng-switch="colState">

              <style>
                  .circuit-editable {
                      color: gray !important;
                      border-bottom: dashed 1px gray !important;
                  }
              </style>



              <div ng-keydown="checkKey($event)" tabindex="1"  ng-init="initViewable()">
                  <span style="font-weight:600; font-size:0.9em">{{ part.table.title | uppercase}}</span><br/>
                  <table class="table table-bordered table-condensed">
                      <thead>
                        <tr>
                          <th ng-repeat = "heading in part.table.tableHeaders">{{heading}}</th>
                        </tr>
                      </thead>


                      <tr ng-repeat = "data in part.table.content">
                        <td ng-repeat = "heading in part.table.tableHeaders">
                          {{data[heading]}}
                        </td>
                      </tr>
                  </table>


              </div>


          </div> 
        </div>
