<div id="addAreaOfLawModal" class="modal fade" style="z-index:3000; background-color:rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" style="width:50%;padding-left: 2%;padding-right: 2%; ">
    <div class="modal-content" style="margin-top: 8%">
      <div class="modal-header" style="border-bottom:none">
          <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 style="font-weight: 100;"><span id="CustomerHeading">&nbsp&nbspAdd Area of Law</span></h4>
        <p id="WelcomeMessage" style="margin-left:12px">
          Please ensure that you fill in all the mandatory sections in the form.
        </p>
      </div>

      <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none">

        <!-- Start Form-->

              <form id ="applicationForm" name="form" class="css-form" ng-submit="saveApplication()" novalidate>
                  <div class="row">


                    <div class="col-xs-12 form-group">
                      <input id="area-name" name="area-name" type="text" class="form-control" ng-model="areaOfLaw.name" ng-minlength=2 ng-focus required placeholder="Name of Area"/>
                      <div class="text-danger" ng-show="form.$submitted && form.name.$invalid || form.name.$dirty && form.name.$invalid && !form.name.$focused">

                        <span ng-show="form.name.$error.required">Name of Area is required</span>
                        <span ng-show="form.name.$error.minlength">Name of Area is required to be at least 2 characters long</span>

                      </div>
                    </div>



                  </div>

                  <div class = "form-group">
                    <button id="submit" type="submit" class="btn btn-primary-alt pull-right"  style="width:120px" ng-click="saveAreaOfLaw()">Save</button>


                    <div id="submitAppMsg" class="pull-left" style="font-size: larger; position: relative; top: 5px"></div>
                  </div>

            </form>

   </div>
   <div class="modal-footer" style="border-top:none">


    </div>
 </div>
</div>
</div>
