<div id="caseReferencesModal" class="modal fade" style="z-index:4000; background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog" style="width:40%;padding-left: 2%;padding-right: 2%;">
    <div class="modal-content" style="margin-top: 8%">






  <div class="modal-body" style="margin-bottom: none; padding-top: 10px; border-bottom:none; height:600px; overflow-y: auto;">



              <h2>Select Cases Referred To</h2>
              <div class="input-icon right mb10">
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="queries.caseReferencesQuery" class="form-control" placeholder="Search..." id="Search" ng-keydown = "saveStab($event)">
              </div>
                  <table id="casesTbl" class="table table-condensed">
                    <tr style="background-color: #E8E9EC" class="tableHeaders">
                      <td style="width:5%">
                        <a ng-click="sortType = 'caseNumber'; sortReverse = !sortReverse">
                          Selected
                          <span ng-show="sortType == 'caseNumber' && !sortReverse" class="fa fa-caret-up"></span>
                          <span ng-show="sortType == 'caseNumber' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                      </td>

                      <td style="width:45%">
                        <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                          Name of Case
                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
            </td>




                    </tr>
                    <tr id="rowTmp_Est" ng-repeat="case in caseReferences | filter:queries.caseReferencesQuery | orderBy:sortType:sortReverse" >
                      <td class="editables">

                          <input type="checkbox" ng-change = "addCaseReference(case)" ng-model = "case.selected">

                       </td>


                      <td class="editables">

                        <span class="editable" name="applicantname" form="rowform" onchange="editItem(this,'itemID')"
                          required>{{case.name}}

                        </span>

                      </td>

                    </tr>
                  </table>







            <div ng-if="caseReferences.length == 0 && queries.caseReferencesQuery.length < 5 || caseReferences.length == 0 && queries.caseReferencesQuery == undefined" style="position: relative; left: 30%; margin-left: -50px; height: 50px; margin-top: 40px"><i ng-if="!returned" class='fa fa-fw fa-sun-o fa-spin'></i> Type the first 5 characters in the name of the case to begin.</div>
            <div ng-if="queries.caseReferencesQuery.length > 4 && (caseReferences|filter:queries.caseReferencesQuery).length == 0 && caseReferences.length == 0" style="position: relative; left: 50%; margin-left: -50px; height: 50px; margin-top: 40px"><i class='fa fa-fw fa-sun-o fa-spin'></i>Searching for Cases. Please Wait...</div>
            <div ng-if="queries.caseReferencesQuery.length > 4 && (caseReferences|filter:queries.caseReferencesQuery).length == 0 && caseReferences.length > 0" style="position: relative; left: 32%; margin-left: -50px; height: 50px; margin-top: 40px"><i ng-if="!returned" class='fa fa-fw fa-sun-o fa-spin'></i> No matches found. Press Enter to create Stub</div>

        </div>

</div>
</div>
</div>
