<div id="addCourtModal" class="modal fade" style="z-index:3000; background-color:rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" style="width:50%;padding-left: 2%;padding-right: 2%; ">
    <div class="modal-content" style="margin-top: 8%">
      <div class="modal-header" style="border-bottom:none">
          <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 style="font-weight: 100;"><span id="CustomerHeading">&nbsp&nbspAdd Court</span></h4>
        <p id="WelcomeMessage" style="margin-left:12px">
          Please ensure that you fill in all the mandatory sections in the form.
        </p>
      </div>

      <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none">

        <!-- Start Form-->

              <form id ="applicationForm" name="form" class="css-form" ng-submit="saveApplication()" novalidate>
                  <div class="row">


                    <div class="col-xs-12 form-group">
                      <input id="court-name" name="court-name" type="text" class="form-control" ng-model="court.name" ng-minlength=2 ng-focus required placeholder="Name of Court"/>
                      <div class="text-danger" ng-show="form.$submitted && form.court-name.$invalid || form.court-name.$dirty && form.court-name.$invalid && !form.court-name.$focused">

                        <span ng-show="form.court-name.$error.required">Name of Court is required</span>
                        <span ng-show="form.court-name.$error.minlength">Name of Court is required to be at least 2 characters long</span>

                      </div>
                    </div>




                  </div>

                  <div class="row">




                    <div class="col-xs-12" style="border:1px dashed #d3d3d3; border-radius:5px; height:auto; color:#d3d3d3; padding-top:10px; padding-bottom:20px; width:97%; margin-left:12px; margin-bottom:20px;">
                      <h4>Court Divisions</h4>
                      <input ng-repeat="division in divisions" id="division" name="division" type="text" class="form-control" ng-model="division.name" ng-minlength=2 ng-focus required placeholder="Name of Division" ng-keydown = "addDivision($event)" ng-style="{'margin-bottom':(courts.length == 1)?'0px':'10px'}"/>
                      <div class="text-danger" ng-show="form.$submitted && form.coram.$invalid || form.coram.$dirty && form.coram.$invalid && !form.coram.$focused">

                        <span ng-show="form.coram.$error.required">Name of Division is required</span>
                        <span ng-show="form.coram.$error.minlength">Name of Division is required to be at least 2 characters long</span>

                      </div>
                    </div>





                  </div>



            </form>

   </div>
   <div class="modal-footer" style="border-top:none">
        <button id="submit" type="submit" class="btn btn-primary-alt pull-right"  style="width:120px" ng-click = "saveCourt()">Save</button>

    </div>
 </div>
</div>
</div>
