<h3>{{part.title}}</h3>

<form id ="applicationForm" name="form" class="css-form" novalidate>
    <div class="row">

      <div class="col-xs-12 col-md-3 form-group">
        <select class="form-control" ng-model = "part.partType">
            <option value="" disabled selected>
              <span style="font-weight:600">Select Part Type...</span>
            </option>
            <option ng-repeat="type in legislationPartTypes" value="{{type.id}}">
              {{type.name}}
            </option>
        </select>
      </div>

      <div class="col-xs-12 col-md-9 form-group">
        <input id="court-name" name="court-name" type="text" class="form-control" ng-model="part.title" ng-minlength=2 ng-focus required placeholder="Title"/>
        <div class="text-danger" ng-show="form.$submitted && form.court-name.$invalid || form.court-name.$dirty && form.court-name.$invalid && !form.court-name.$focused">

          <span ng-show="form.court-name.$error.required">Title is required</span>
          <span ng-show="form.court-name.$error.minlength">Title is required to be at least 2 characters long</span>

        </div>
      </div>




      <div class="col-xs-12 col-md-12 form-group">
          <textarea id="preamble" name="preamble" type="text" style="height: 90px; width:100%"; min-word-count="2"  class="form-control" ng-model="part.content"  ng-minlength=2 required ng-focus placeholder="Content *"/>
          <div class="text-danger" ng-show="form.$submitted && form.preamble.$invalid || form.preamble.$dirty && form.preamble.$invalid && !form.preamble.$focused">

          <span ng-show="form.preamble.$error.required">Content is required</span>
          <span ng-show="form.preamble.$error.minlength">Content is required to be at least 2 characters long</span>

        </div>
      </div>

      <div class="col-xs-12 col-md-12 form-group" ng-if="legislationParts.length > 1">
        <select id="court" ui-select2="{minimumInputLength: 2, width: 'resolve'}" ng-model="part.parentPart"  onchange="showCustomerDetails()" style="font-weight: 700; width:100%; position: relative; vertical-align: middle; background-color: white" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="" placeholder = "Parent Part" >
          <option ng-repeat="legislationPart in legislationParts" value="{{legislationPart.id}}" disabled>
            Select Parent...
          </option>
            <option ng-repeat="legislationPart in legislationParts" value="{{legislationPart.id}}">
              {{legislationPart.title + ": " + legislationPart.content}}
            </option>
        </select>
      </div>








    </div>



</form>
