<div class="row" ng-if="viewMode">

    <div class="col-xs-12">


        <div class="row">


            <div class="col-xs-12">
                <panel heading="Court">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    {{case.court.name}} ({{case.jurisdiction.name}} Jurisdiction)
                </panel>
            </div>

            <div class="col-xs-12">
                <panel heading="Before Honorable Justices">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <ol>
                        <li ng-repeat="judge in case.coram">
                            {{judge.name}}
                        </li>
                    </ol>
                </panel>
            </div>

            <div class="col-xs-12">
                <panel heading="For the {{case.plaintiffSynonym.synonym}}">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <ol>
                        <li ng-repeat="appearance in case.appearancesForPlaintiffs">
                            {{appearance.advocate}} of <em>Law Firm: {{appearance.lawFirm}}</em>
                        </li>
                    </ol>
                </panel>
            </div>


            <div class="col-xs-12">
                <panel heading="For the {{case.defendantSynonym.synonym}}">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <ol>
                        <li ng-repeat="appearance in case.appearancesForDefendants">
                            {{appearance.advocate}} of <em>Law Firm: {{appearance.lawFirm}}</em>
                        </li>
                    </ol>
                </panel>
            </div>

            <div class="col-xs-12">
                <panel heading="Flynote (Areas of Law)">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <span class="label label-primary">{{case.areaOfLaw.name}}</span>
                    <span ng-repeat="area in case.areasOfLaw" class="label label-info" style="background-color:#5bc0de; margin-right:2px"> {{area.name}}</span>


                </panel>
            </div>


            <div class="col-xs-12">

                <panel heading="Headnote (Summary of Facts)">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <span style="white-space: pre-wrap;" ng-bind-html="case.summaryOfFacts"></span>
                </panel>
            </div>


            <div class="col-xs-12">

                <panel heading="Held (Summary of Ruling)">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <span style="white-space: pre-wrap;" ng-bind-html="case.summaryOfRuling"></span>
                </panel>
            </div>

            <div class="col-xs-12">
                <panel heading="Legislations Referred To">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <ol>
                        <li ng-repeat="ref in case.legislationsReferedTo">
                            {{ref.legislationName}}
                        </li>
                    </ol>
                </panel>
            </div>



            <div class="col-xs-12">
                <panel heading="Cases Referred To">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>
                    <ol>
                        <li ng-repeat="ref in case.casesReferedTo">
                            {{ref.name}}
                        </li>
                    </ol>
                </panel>
            </div>


            <div class="col-xs-12">
                <panel heading="Judgement">
                    <panel-controls>
                        <a href="">
                            <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                        </a>
                    </panel-controls>

                    <span style="white-space: pre-wrap;" ng-bind-html="case.judgement"></span>
                </panel>
            </div>

        </div>


    </div>
</div>