<div class="modal-content" style="margin-top: 8%" ng-if="!viewMode">
    <div class="modal-header" style="margin-bottom:20px">
        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
            <div class="col-xs-10">
                <h4 style="font-weight: 100;">
                    <span id="CustomerHeading">
                  Add Legislation <button ng-click="toggleView()" class="btn-primary-alt btn-xs">View</button>
                </span>
                </h4>
                <p id="WelcomeMessage" style="margin-left:8px; margin-top:-10px">
                    Please ensure that you fill in all the mandatory sections (marked with an asterisk, *) in the form.
                </p>
            </div>
            <div class="col-sm-2">
                <toggle-switch on-label="Complete" off-label="Incomplete" model="legislation.completionStatus" class="primary" knob-label="Status">
                    <toggle-switch>
            </div>
        </div>
    </div>
    <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none; padding-bottom:50%">
        <form id="applicationForm" name="form" class="css-form" ng-submit="saveApplication()" novalidate>
            <span>
            <div class="row">
              <div class="col-xs-12 col-md-6 form-group">
                <div class="btn-group" data-dropdown style="width:100%">
        		      <button type="button" class="btn btn-default-alt dropdown-toggle alt-border" id="typeSelector" style="width:100%; text-align:left">
        		        <span ng-if="!selected">Select Legislation Type - Act, SI, Schedule or Add *</span>
            <span ng-if="selected">Legislation Type:&nbsp;{{selectedType}}</span> &nbsp;
            <i class="fa fa-caret-down pull-right"></i>
            </button>
            <ul class="dropdown-menu" role="menu" style="text-align: left; left:0; right:0">
                <li ng-repeat="type in legislationTypes"><a class="dropdown-toggle" ng-click="typeSelected(type)">{{type.name}}</a></li>

            </ul>
    </div>
</div>

<div class="col-xs-12 col-md-6 form-group">
    <input id="legislation-number" name="legislation-number" type="text" class="form-control" ng-model="legislation.legislationNumber" ng-focus placeholder="Legislation Number" />
    <div class="text-danger" ng-show="form.$submitted && form.legislation-number.$invalid || form.legislation-number.$dirty && form.legislation-number.$invalid && !form.legislation-number.$focused">
        <span ng-show="form.legislation-number.$error.required">Legislation Number is required</span>
    </div>
</div>
<div class="col-xs-12 col-md-12 form-group">
    <textarea id="legislationNumbers" name="legislationNumbers" type="text" style="height: 90px" min-word-count="2" class="form-control" ng-model="legislation.legislationNumbers" ng-minlength=2 ng-focus placeholder="Legislation Numbers" />
    <div class="text-danger" ng-show="form.$submitted && form.legislationNumbers.$invalid || form.legislationNumbers.$dirty && form.legislationNumbers.$invalid && !form.legislationNumbers.$focused">
        <span ng-show="form.legislationNumbers.$error.required">Legislation Numbers field is required</span>
        <span ng-show="form.legislationNumbers.$error.minlength">Legislation Numbers field is required to be at least 2 characters long</span>
    </div>
</div>
<div class="col-xs-12 col-md-12 form-group">
    <ui-select ng-model="legislation.parentLegislation" theme="selectize" ng-model-options="{ debounce: 1000 }">
        <ui-select-match placeholder="Search for Parent Legislation...">{{$select.selected.legislationName + ' | ' + $select.selected.legislationType }}</ui-select-match>
        <ui-select-choices repeat="parent.id as parent in parents track by $index" refresh="searchForParent($select.search)" refresh-delay="0">
            <span ng-bind-html="parent.legislationNumbers + ' | ' + parent.legislationName + ' | ' + parent.year + ' | <em>' + parent.legislationType + '</em>' | highlight: $select.search"></span>
        </ui-select-choices>

    </ui-select>
</div>




<!-----------------Amending Legislation-------------->

<div class="col-xs-10">Amendments</div>
<div class="col-xs-2 pull-right">
    <a class="pull-right" style="color:#d3d3d3; border:#none; font-size:1.2em; border-radius:5px; margin-top:-2px" ng-click="openAmendedLegislation()"><i class="fa fa-plus"></i></a>
</div>
<div class="col-xs-12 form-group">


    <ui-select multiple tagging="createLegislationStab" ng-keydown="saveLegislationStab($event)" ng-model="legislation.amendedLegislations" theme="bootstrap">
        <ui-select-match placeholder="Select Amendments...">{{$item.legislationName}} {{$item.dateOfAssent | date : 'yyyy'}}</ui-select-match>
        <ui-select-choices repeat="legislation in legislations | filter: $select.search">
            <span ng-bind-html="legislation.legislationNumber | highlight: $select.search"></span>&nbsp;-
            <span ng-bind-html="legislation.legislationName | highlight: $select.search"></span>
            <small ng-bind-html="legislation.dateOfAssent | date : 'yyyy' | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

</div>



<!---------------------------------------------------->

<!-----------------Amending Legislation-------------->

<div class="col-xs-10">Repeals and Replaces</div>
<div class="col-xs-2 pull-right">
    <a class="pull-right" style="color:#d3d3d3; border:#none; font-size:1.2em; border-radius:5px; margin-top:-2px" ng-click="openReplacedLegislation()">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div class="col-xs-12 form-group">


    <ui-select multiple tagging="createLegislationStab" ng-keydown="saveLegislationStab($event)" ng-model="legislation.replacedLegislations" theme="bootstrap">
        <ui-select-match placeholder="Select Legislations that are Repealed and Replaced...">{{$item.legislationName}} {{$item.dateOfAssent | date : 'yyyy'}}</ui-select-match>
        <ui-select-choices repeat="legislation in legislations | filter: $select.search">
            <span ng-bind-html="legislation.legislationNumber | highlight: $select.search"></span>&nbsp;-
            <span ng-bind-html="legislation.legislationName | highlight: $select.search"></span>
            <small ng-bind-html="legislation.dateOfAssent | date : 'yyyy' | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

</div>



<!---------------------------------------------------->

<!-----------------Repeals-------------->

<div class="col-xs-10">Repeals</div>
<div class="col-xs-2 pull-right">
    <a class="pull-right" style="color:#d3d3d3; border:#none; font-size:1.2em; border-radius:5px; margin-top:-2px" ng-click="openRepealedLegislation()">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div class="col-xs-12 form-group">


    <ui-select multiple tagging="createLegislationStab" ng-keydown="saveLegislationStab($event)" ng-model="legislation.repealedLegislations" theme="bootstrap">
        <ui-select-match placeholder="Select Legislations that are Repealed">{{$item.legislationName}} {{$item.dateOfAssent | date : 'yyyy'}}</ui-select-match>
        <ui-select-choices repeat="legislation in legislations | filter: $select.search">
            <span ng-bind-html="legislation.legislationNumber | highlight: $select.search"></span>&nbsp;-
            <span ng-bind-html="legislation.legislationName | highlight: $select.search"></span>
            <small ng-bind-html="legislation.dateOfAssent | date : 'yyyy' | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

</div>



<!---------------------------------------------------->

</div>
<div class="row">
    <div class="col-xs-12 col-md-12 form-group">
        <input id="legislation-name" name="legislation-name" type="text" class="form-control" ng-model="legislation.legislationName" ng-minlength=2 ng-focus required placeholder="Name *" />
        <div class="text-danger" ng-show="form.$submitted && form.legislation-name.$invalid || form.legislation-name.$dirty && form.legislation-name.$invalid && !form.legislation-name.$focused">
            <span ng-show="form.legislation-name.$error.required">Name of Legislation is required</span>
            <span ng-show="form.legislation-name.$error.minlength">Name of Legislation is required to be at least 2 characters long</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 form-group">
        <textarea id="preamble" name="preamble" type="text" style="height: 90px" min-word-count="2" class="form-control" ng-model="legislation.preamble" ng-minlength=2 ng-focus placeholder="Preamble" />
        <div class="text-danger" ng-show="form.$submitted && form.preamble.$invalid || form.preamble.$dirty && form.preamble.$invalid && !form.preamble.$focused">
            <span ng-show="form.preamble.$error.required">Preamble is required</span>
            <span ng-show="form.preamble.$error.minlength">Preamble is required to be at least 2 characters long</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-9 form-group">
        <input id="dateOfAssent" name="dateOfAssent" type="text" datetime="d MMMM, yyyy" class="form-control" ng-model="legislation.dateOfAssent" placeholder="Date of Assent" ng-focus/>
        <div class="text-danger" ng-show="form.$submitted && form.dateOfAssent.$invalid || form.dateOfAssent.$dirty && form.dateOfAssent.$invalid && !form.dateOfAssent.$focused">
            <span ng-show="form.dateOfAssent.$error.required">Date of Assent is required</span>
            <span ng-show="form.dateOfAssent.$error.minlength">Date of Assent is required to be at least 2 characters long</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 form-group">
        <input id="amendment-year" name="amendment-year" type="number" class="form-control" ng-model="legislation.yearOfAmendment" ng-minlength=2 ng-focus placeholder="Year of Ammendment" />
        <div class="text-danger" ng-show="form.$submitted && form.amendment-year.$invalid || form.amendment-year.$dirty && form.amendment-year.$invalid && !form.amendment-year.$focused">
            <span ng-show="form.amendment-year.$error.required">Year of Ammendment is required</span>
            <span ng-show="form.amendment-year.$error.minlength">Year of Ammendment is required to be at least 2 characters long</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 form-group">
        <input id="enactment" name="enactment" type="text" class="form-control" ng-model="legislation.enactment" ng-minlength=2 ng-focus placeholder="Enactment *" />
        <div class="text-danger" ng-show="form.$submitted && form.enactment.$invalid || form.enactment.$dirty && form.enactment.$invalid && !form.enactment.$focused">
            <span ng-show="form.enactment.$error.required">Enactment is required</span>
            <span ng-show="form.enactment.$error.minlength">Enactment is required to be at least 2 characters long</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 form-group" ng-if="selectedType !=='Schedule'">
        <input id="volumeNumber" name="volumeNumber" type="text" class="form-control" ng-model="legislation.volumeNumber" ng-focus placeholder="Volume Number" />
        <div class="text-danger" ng-show="form.$submitted && form.volumeNumber.$invalid || form.volumeNumber.$dirty && form.volumeNumber.$invalid && !form.volumeNumber.$focused">
            <span ng-show="form.volumeNumber.$error.required">Volume Number is required</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 form-group" ng-if="selectedType !=='Schedule'">
        <input id="chapter-number" name="chapter-number" type="text" class="form-control" ng-model="legislation.chapterNumber" ng-focus placeholder="Chapter Number" />
        <div class="text-danger" ng-show="form.$submitted && form.chapter-number.$invalid || form.chapter-number.$dirty && form.chapter-number.$invalid && !form.chapter-number.$focused">
            <span ng-show="form.chapter-number.$error.required">Chapter Number is required</span>
        </div>
    </div>
</div>
</span>
<div class="row">
    <div class="col-xs-12" ng-style="" style="border-radius:5px; height:auto; padding-top:20px; padding-bottom:60px; width:97%; margin-left:12px;">
        <div class="row">
            <div class="container-fluid" ng-controller="NestedTreeDemoController">
                <script type="text/ng-template" id="items_renderer.html">
                    <div ui-tree-handle style="padding-bottom:27px">
                        <a class="btn handletools expand" data-nodrag ng-click="toggle(this)">
                            <span class="fa fa-fw" ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}" ng-show="part.subParts.length"></span>
                        </a>
                        <div class="pull-left" style="color:gray">{{part.number + ' ' + part.title}}</div>
                        <a class="pull-right btn handletools delete" data-nodrag ng-click="remove(this)"><span class="fa fa-fw fa-trash-o"></span></a>
                        <a class="pull-right btn handletools edit" data-nodrag ng-click="editPart(this)" data-toggle="modal" data-target="#addLegislationPart"><span class="fa fa-fw fa-pencil"></span></a>
                        <a class="pull-right btn handletools add" data-nodrag ng-click="newSubItem(this, $index, $$prevSibling)"><span class="fa fa-fw fa-plus"></span></a>
                    </div>
                    <ol ui-tree-nodes="options" ng-model="part.subParts" ng-class="{hidden: collapsed}">
                        <li ng-repeat="part in part.subParts" ui-tree-node ng-include="'items_renderer.html'">

                        </li>
                    </ol>
            </div ui-tree-handle>
            </script>

            <script type="text/ng-template" id="items_view_renderer.html">
                <span style="font-weight:600">{{ part.number }} {{ part.title }}</span> <br>
                <span ng-if="part.content !== undefined" style="white-space: pre-wrap;" ng-bind-html="part.content"></span>
                <ng-include src="'templates/table-viewable.html'"></ng-include>
                <span ng-if="part.file.type.substring(0,5)=='image'"><img ng-src="{{ baseURL+part.file.url }}" width="150px" /></span><br>
                <!--change hard coding to server URL -->
                <span ng-if="part.file.type.substring(0,5)!=='image' && part.file !== undefined"><a target="_blank" ng-href="{{ baseURL+part.file.url }}">{{part.title}} File</a></span><br>
                <!--change hard coding to server URL -->
                <ul>
                    <p ng-repeat="part in part.subParts" ng-include="'items_view_renderer.html'">&emsp;</p>
                </ul>
            </script>

            <panel heading="Legislation Components">
                <panel-controls>
                    <a href="">
                        <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                    </a>
                    <a href="javascript:;" ng-click="addLegislationPart()"><i class="fa fa-plus"></i></a>
                </panel-controls>
                <div class="row" ng-show="legislation.legislationParts.length > 0">
                    <div class="col-lg-12">
                        <div ui-tree="options">
                            <ol ui-tree-nodes ng-model="legislation.legislationParts">
                                <li ng-repeat="part in legislation.legislationParts" ui-tree-node ng-include="'items_renderer.html'"></li>
                            </ol>
                        </div>
                        <p ng-repeat="part in legislation.legislationParts" ng-include="'items_view_renderer.html'" ng-if=""></p>
                    </div>
                </div>
            </panel>
        </div>
    </div>
    <span ng-show="legislation.legislationParts.length == 0 && parts_returned" style="font-size:1.5em; font-weight:100; position:relative; left:42%">Add Legislation Parts</span>
    <div ng-if="!showParts" style="font-size:1.5em; font-weight:100"><i ng-if="!parts_returned" class='fa fa-fw fa-sun-o fa-spin'></i> Loading. Please Wait...</div>
</div>
</div>
<div class="form-group">
    <div id="submitAppMsg" class="pull-left" style="font-size: larger; position: relative; top: 5px"></div>
</div>
</form>
</div>
<div class="modal-footer" style="">
    <button id="submit" ng-click="saveLegislation()" type="submit" class="btn btn-primary-alt pull-right" ng-class="{'btn btn-primary-alt pull-right':(saveStatus==0), 'btn btn-primary pull-right':(saveStatus == 1), 'btn btn-success pull-right':(saveStatus == 2)} "
        style="width:120px"><i ng-if="saveStatus==1" class='fa fa-fw fa-sun-o fa-spin'></i>{{(saveStatus==0)?'Save Legislation':(saveStatus==1)?'Saving...':'Saved'}}</button>
</div>
</div>

<ng-include src="'templates/amended-legislation-modal.html'"></ng-include>
<ng-include src="'templates/replaced-legislation-modal.html'"></ng-include>