<div class="modal-content" style="margin-top: 8%">
    <div ng-if="!returned" style="font-size:1.5em; font-weight:100; padding:50px"><i class='fa fa-fw fa-sun-o fa-spin'></i> Loading. Please Wait...</div>
    <div class="modal-header" style="margin-bottom:20px" ng-if="returned">
        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
            <div class="col-xs-10">
                <h4 style="font-weight: 100;">
                    <span id="CustomerHeading">
              {{selectedType}} No. {{legislation.legislationNumber}}: of {{legislation.dateOfAssent | date:'yyyy'}}
              <button ng-click="toggleView()" class="btn-primary-alt btn-xs">Edit</button>
            </span>
                </h4>
                <p id="WelcomeMessage" style="margin-left:8px; margin-top:-10px; font-size:1.2em">
                    <span style="font-weight:600">{{legislation.legislationName}} </span><br />
                    <span style="font-weight:600" class="text-warning" ng-if="legislation.parentLegislation !== undefined">Parent Legislation: {{legislation.parentLegislation.legislationName + ' | Deleted = '}} {{legislation.parentLegislation.deleted?"Yes":"No"}}</span><br
                    /> Enacted by {{legislation.enactment}}<br /> Assented on {{legislation.dateOfAssent | date:'MMMM d, yyyy'}}
                </p>
            </div>
            <div class="col-sm-2">
                <toggle-switch on-label="Complete" off-label="Incomplete" model="legislation.completionStatus" class="primary" knob-label="Status">
                    <toggle-switch>
            </div>
            <div class="col-sm-2">
                <toggle-switch on-label="News" off-label="Not News" model="legislation.isNews" class="primary" knob-label="Status" ng-click="addNews()">
                    <toggle-switch>
            </div>
            <div class="col-sm-2">
                <toggle-switch on-label="Trend" off-label="Not Trend" model="legislation.isTrend" class="primary" knob-label="Status" ng-click="addTrend()">
                    <toggle-switch>
            </div>
        </div>
    </div>
    <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none;" ng-if="returned">
        <div class="row">
            <div class="col-xs-12" ng-style="" style="border-radius:5px; height:auto; padding-top:20px; padding-bottom:60px; width:97%; margin-left:12px;">
                <div class="row">
                    <div class="container-fluid" ng-controller="NestedTreeDemoController">
                        <panel heading="Preamble">
                            <panel-controls>
                                <a href="">
                                    <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                                </a>
                            </panel-controls>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{legislation.preamble}}
                                </div>
                            </div>
                        </panel>
                        <panel heading="">
                            <panel-controls>
                                <a href="">
                                    <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                                </a>
                            </panel-controls>
                            <div class="row">
                                <div class="col-lg-12" style="white-space: pre-wrap;" ng-bind-html="legislation.legislationNumbers">

                                </div>
                            </div>
                        </panel>
                        <script type="text/ng-template" id="items_renderer.html">
                            <div ui-tree-handle style="padding-bottom:27px">
                                <a class="btn handletools expand" data-nodrag ng-click="toggle(this)">
                                    <span class="fa fa-fw" ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}" ng-show="part.subParts.length"></span>
                                </a>
                                <div class="pull-left" style="color:gray">{{part.number + ' ' + part.title}}</div>
                                <a class="pull-right btn handletools delete" data-nodrag ng-click="remove(this)"><span class="fa fa-fw fa-trash-o"></span></a>
                                <a class="pull-right btn handletools edit" data-nodrag ng-click="editPart(this)" data-toggle="modal" data-target="#addLegislationPart"><span class="fa fa-fw fa-pencil"></span></a>
                                <a class="pull-right btn handletools add" data-nodrag ng-click="newSubItem(this, $index, $$prevSibling)"><span class="fa fa-fw fa-plus"></span></a>
                            </div>
                            <ol ui-tree-nodes="options" ng-model="part.subParts" ng-class="{hidden: collapsed}">
                                <li ng-repeat="part in part.subParts" ui-tree-node ng-include="'items_renderer.html'">

                                </li>
                            </ol>
                    </div ui-tree-handle>
                    </script>

                    <script type="text/ng-template" id="items_view_renderer.html">
                        <span style="font-weight:600">{{ part.number }} {{ part.title }}</span> <br>
                        <span ng-if="part.content !== undefined" style="white-space: pre-wrap;" ng-bind-html="part.content"></span>
                        <ng-include src="'templates/table-viewable.html'"></ng-include>
                        <span ng-if="part.file.data.type.substring(0,5)=='image'"><img ng-src="{{ baseURL+part.file.data.url }}" width="150px" /></span><br>
                        <!--change hard coding to server URL -->
                        <span ng-if="part.file.data.type.substring(0,5)!=='image' && part.file !== undefined"><a target="_blank" ng-click="downloadFile(part)">{{part.title}} File</a></span><br>
                        <!--change hard coding to server URL -->
                        <ul>
                            <p ng-repeat="part in part.subParts" ng-include="'items_view_renderer.html'">&emsp;</p>
                        </ul>
                    </script>

                    <panel heading="Legislation Components">

                        <panel-controls>
                            <a href="">
                                <panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse>
                            </a>
                            <a href="javascript:;" ng-click="addLegislationPart()"><i class="fa fa-plus"></i></a>
                        </panel-controls>

                        <div class="row" ng-show="legislation.legislationParts.length > 0">
                            <div class="col-lg-12">
                                <p ng-repeat="part in legislation.legislationParts" ng-include="'items_view_renderer.html'">
                                </p>
                            </div>
                        </div>
                    </panel>
                </div>
            </div>
            <span ng-show="legislation.legislationParts.length == 0 && parts_returned" style="font-size:1.5em; font-weight:100; position:relative; left:42%">Add Legislation Parts</span>
        </div>
    </div>
    <div class="form-group">
        <div id="submitAppMsg" class="pull-left" style="font-size: larger; position: relative; top: 5px"></div>
    </div>
</div>
<div class="modal-footer" style="" ng-if="returned">
    <div class="row">
        <div class="col-xs-12 col-md-8"></div>
        <div class="col-xs-12 col-md-2"><button id="submit" ng-click="mergeDuplicates()" type="submit" class="btn btn-primary-alt pull-right" ng-class="{'btn btn-primary-alt btn-block pull-right':(mergeStatus==0), 'btn btn-primary btn-block pull-right':(mergeStatus == 1), 'btn btn-success btn-block pull-right':(mergeStatus == 2)} "><i ng-if="mergeStatus==1" class='fa fa-fw fa-sun-o fa-spin'></i>{{(mergeStatus==0)?'Mark as Primary':(mergeStatus==1)?'Marking...':'Primary'}}</button></div>
        <div class="col-xs-12 col-md-2"><button id="submit" ng-click="saveLegislation()" type="submit" class="btn btn-primary-alt pull-right" ng-class="{'btn btn-primary-alt btn-block pull-right':(saveStatus==0), 'btn btn-primary btn-block pull-right':(saveStatus == 1), 'btn btn-success btn-block pull-right':(saveStatus == 2)} "><i ng-if="saveStatus==1" class='fa fa-fw fa-sun-o fa-spin'></i>{{(saveStatus==0)?'Save Legislation':(saveStatus==1)?'Saving...':'Saved'}}</button></div>

    </div>


</div>
</div>