<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE]><html xmlns="http://www.w3.org/1999/xhtml" class="ie-browser" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><![endif]-->
<!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
    <!--[if gte mso 9]><xml>
     <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
     </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <title>Template Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style type="text/css" id="media-query">
        body {
            margin: 0;
            padding: 0;
        }
        
        table,
        tr,
        td {
            vertical-align: top;
            border-collapse: collapse;
        }
        
        .ie-browser table,
        .mso-container table {
            table-layout: fixed;
        }
        
        * {
            line-height: inherit;
        }
        
        a[x-apple-data-detectors=true] {
            color: inherit !important;
            text-decoration: none !important;
        }
        
        [owa] .img-container div,
        [owa] .img-container button {
            display: block !important;
        }
        
        [owa] .fullwidth button {
            width: 100% !important;
        }
        
        .ie-browser .col,
        [owa] .block-grid .col {
            display: table-cell;
            float: none !important;
            vertical-align: top;
        }
        
        .ie-browser .num12,
        .ie-browser .block-grid,
        [owa] .num12,
        [owa] .block-grid {
            width: 480px !important;
        }
        
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }
        
        .ie-browser .mixed-two-up .num4,
        [owa] .mixed-two-up .num4 {
            width: 160px !important;
        }
        
        .ie-browser .mixed-two-up .num8,
        [owa] .mixed-two-up .num8 {
            width: 320px !important;
        }
        
        .ie-browser .block-grid.two-up .col,
        [owa] .block-grid.two-up .col {
            width: 240px !important;
        }
        
        .ie-browser .block-grid.three-up .col,
        [owa] .block-grid.three-up .col {
            width: 160px !important;
        }
        
        .ie-browser .block-grid.four-up .col,
        [owa] .block-grid.four-up .col {
            width: 120px !important;
        }
        
        .ie-browser .block-grid.five-up .col,
        [owa] .block-grid.five-up .col {
            width: 96px !important;
        }
        
        .ie-browser .block-grid.six-up .col,
        [owa] .block-grid.six-up .col {
            width: 80px !important;
        }
        
        .ie-browser .block-grid.seven-up .col,
        [owa] .block-grid.seven-up .col {
            width: 68px !important;
        }
        
        .ie-browser .block-grid.eight-up .col,
        [owa] .block-grid.eight-up .col {
            width: 60px !important;
        }
        
        .ie-browser .block-grid.nine-up .col,
        [owa] .block-grid.nine-up .col {
            width: 53px !important;
        }
        
        .ie-browser .block-grid.ten-up .col,
        [owa] .block-grid.ten-up .col {
            width: 48px !important;
        }
        
        .ie-browser .block-grid.eleven-up .col,
        [owa] .block-grid.eleven-up .col {
            width: 43px !important;
        }
        
        .ie-browser .block-grid.twelve-up .col,
        [owa] .block-grid.twelve-up .col {
            width: 40px !important;
        }
        
        @media only screen and (min-width: 500px) {
            .block-grid {
                width: 480px !important;
            }
            .block-grid .col {
                display: table-cell;
                Float: none !important;
                vertical-align: top;
            }
            .block-grid .col.num12 {
                width: 480px !important;
            }
            .block-grid.mixed-two-up .col.num4 {
                width: 160px !important;
            }
            .block-grid.mixed-two-up .col.num8 {
                width: 320px !important;
            }
            .block-grid.two-up .col {
                width: 240px !important;
            }
            .block-grid.three-up .col {
                width: 160px !important;
            }
            .block-grid.four-up .col {
                width: 120px !important;
            }
            .block-grid.five-up .col {
                width: 96px !important;
            }
            .block-grid.six-up .col {
                width: 80px !important;
            }
            .block-grid.seven-up .col {
                width: 68px !important;
            }
            .block-grid.eight-up .col {
                width: 60px !important;
            }
            .block-grid.nine-up .col {
                width: 53px !important;
            }
            .block-grid.ten-up .col {
                width: 48px !important;
            }
            .block-grid.eleven-up .col {
                width: 43px !important;
            }
            .block-grid.twelve-up .col {
                width: 40px !important;
            }
        }
        
        @media (max-width: 500px) {
            .block-grid,
            .col {
                min-width: 320px !important;
                max-width: 100% !important;
            }
            .block-grid {
                width: calc(100% - 40px) !important;
            }
            .col {
                width: 100% !important;
            }
            .col>div {
                margin: 0 auto;
            }
            img.fullwidth {
                max-width: 100% !important;
            }
        }
    </style>
</head>
<!--[if mso]>
<body class="mso-container" style="background-color:#FFFFFF;">
<![endif]-->
<!--[if !mso]><!-->

<body class="clean-body" style="margin: 0;padding: 30px;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
    <div style="border:#000000 1px solid; border-radius:40px; max-width:900px; min-width:400px" class="container-fluid">

        <div class="row text-center" style="padding:40px">
            <div class="col-md-4 col-md-offset-4">
                <img src="http://www.circuitbusiness.com/wp-content/uploads/2018/03/logo.png" width="280px">
            </div>
        </div>
        <div class="row text-center" style="padding:20px; background-color:#000000">
            <div class="col-md-6 col-xs-12">
                <img src="http://www.circuitbusiness.com/wp-content/uploads/2018/03/launch1.png" width="170">
            </div>
            <div class="col-md-6 col-xs-12" style="color:#ffffff; font-size:1em; font-weight:300">
                <h1>Welcome Aboard</h1>
                <p style="margin-top:20px">We are pleased to have you on our platform. You can begin your 1 month free trial now, valid upto:</p>
                <p style="font-size:1.2em"><strong><%= expiryDate %></strong></p>
                <p>We will remind you to renew your subscription before the end of the trial period.</p>

            </div>
        </div>
        <div class="row text-center" style="padding:20px">
            <div class="col-md-6 col-md-offset-3">
                <p style="font-size:1.7em">With warm regards,</p>
                <strong><p style="font-size:1.7em; margin-top:-10px">The Apptorney Team</p></strong>
                <p>Apptorney Ltd | Suite 107 | Foxdale Court<br/>Zambezi Road | Roma | Lusaka | Zambia<br/>info@apptorney.org<br/> www.apptorney.org</p>

                <p style="color:gray; margin-top:50px; font-weight:200">This email is automatically generated. Please do not reply to it</p>
            </div>
        </div>
    </div>



</body>

</html>