<form id ="applicationForm" name="form" class="css-form" novalidate>
    <div class="row">

      <div class="col-xs-12 col-md-3 form-group">
        <input id="court-name" name="court-name" type="text" class="form-control" ng-model="legislationPart.number" ng-focus placeholder="Number" ng-if="legislationPart.level"/>

      </div>

      <div class="" ng-class="(legislationPart.level)?'col-xs-12 col-md-9 form-group':'col-xs-12 col-md-12 form-group'">
        <input id="court-name" name="court-name" type="text" class="form-control" ng-model="legislationPart.title" ng-minlength=2 ng-focus required placeholder="Title"/>
        <div class="text-danger" ng-show="form.$submitted && form.court-name.$invalid || form.court-name.$dirty && form.court-name.$invalid && !form.court-name.$focused">

          <span ng-show="form.court-name.$error.required">Title is required</span>
          <span ng-show="form.court-name.$error.minlength">Title is required to be at least 2 characters long</span>

        </div>
      </div>




      <div class="col-xs-12 col-md-12 form-group">
          <textarea id="preamble" name="preamble" type="text" style="height: 90px; width:100%"; min-word-count="2"  class="form-control" ng-model="legislationPart.content"  ng-minlength=2 required ng-focus placeholder="Content *"/>
          <div class="text-danger" ng-show="form.$submitted && form.preamble.$invalid || form.preamble.$dirty && form.preamble.$invalid && !form.preamble.$focused">

          <span ng-show="form.preamble.$error.required">Content is required</span>
          <span ng-show="form.preamble.$error.minlength">Content is required to be at least 2 characters long</span>

        </div>
      </div>










    </div>



</form>
