
        <div class="container-fluid" ng-controller="TablesEditableController" ng-if="legislationPart.showTable">

          <div class="row" ng-switch="colState">

              <style>
                  .circuit-editable {
                      color: gray !important;
                      border-bottom: dashed 1px gray !important;
                  }
              </style>

              <div ng-switch-when="display_table">
                  <div class="row">
                      <div class="col-sm-8">
                          <h3><a href="javascript:;" class="circuit-editable" editable-text="legislationPart.table.title" e-label="Table Name">{{ legislationPart.table.title }}</a></h3>
                      </div>
                      <div class="col-sm-4">
                          <a class="btn btn-md pull-right" ng-click="addColumn()"><i class="fa fa-plus"></i></a>
                      </div>
                  </div>
              </div>

              <div ng-keydown="checkKey($event)" tabindex="1"  ng-init="init()">
                  <table id="test" class="table table-bordered table-condensed" ng-init="page = legislationPart.table.tableHeaders; data = legislationPart.table.content; table_name = legislationPart.table.title">

                  </table>
              </div>

              <div ng-switch-when="display_table">

                  <a class="btn btn-md" ng-click="addData()"><i class="fa fa-plus"></i></a>

              </div>
          </div>
        </div>
