<div id="addTableModal" class="modal fade" style="z-index:3000; background-color:rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" style="width:50%;padding-left: 2%;padding-right: 2%;">
    <div class="modal-content" style="margin-top: 8%">
      <div class="modal-header" style="margin-bottom:20px">

          <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="row">
            <div class="col-xs-10">
              <h4 ng-if="!viewMode" style="font-weight: 100;"><span id="CustomerHeading">&nbsp;&nbsp;Add Table <button ng-click="toggleView()" class="btn-primary-alt btn-xs">View</button></span></h4>
              <h4 ng-if="viewMode" style="font-weight: 100;"><span id="CustomerHeading">&nbsp;&nbsp;{{selectedType}} No. {{legislation.legislationNumber}}: of {{legislation.dateOfAssent | date:'yyyy'}} <button ng-click="toggleView()" class="btn-primary-alt btn-xs">Edit</button></span> </h4>


              <p id="WelcomeMessage" style="margin-left:8px; margin-top:-10px" ng-if="!viewMode">
                Please ensure that you fill in all the mandatory sections (marked with an asterisk, *) in the form.
              </p>

            </div>


          </div>

      </div>

      <div class="modal-body" style="margin-bottom: none; padding-top: 0px; border-bottom:none; padding-bottom:50%">
        <div class="container-fluid" ng-controller="TablesEditableController">

            <div class="row">
                <div class="col-md-12">


                        <div class="row" ng-switch="colState">
                            <div ng-switch-when="col_num_prompt">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group text-center">
                                            <label for="numFields" class="control-label">How many Columns(Fields) would you like to have?</label><br>
                                            <div class="col-sm-2 col-sm-offset-5">
                                                <br><input type="number" class="form-control" size="10" min="0" id="numFields" placeholder="Enter a number" ng-model="numFields">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <br><button class="btn btn-default text-center" ng-click="getColumnNames(numFields)">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div ng-switch-when="col_name_prompt">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal">
                                            <div class="form-group" ng-repeat="i in cols">
                                                <div class="row">
                                                    <label for="numFields" class="col-sm-3 control-label">Column {{i}}</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" placeholder="Enter Column Name" ng-model="page[i]">
                                                    </div>
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button class="btn btn-default text-center" ng-click="backToDefault()">Back</button>
                                                    <button class="btn btn-default text-center" ng-click="createTable()">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div ng-switch-when="display_table">
                                <div class="row">
                                    <div class="col-sm-offset-8 col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Enter New Column Name" ng-model="newCol"><br>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-default" ng-click="addColumn(newCol)">Add Column</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-keydown="checkKey($event)" tabindex="1">
                                <table id="test" class="table table-bordered table-condensed">

                                </table>
                            </div>

                            <div ng-switch-when="display_table">

                                <button class="btn btn-default" ng-click="addData()">Add row</button>

                            </div>
                        </div>




            </div>    <!-- container -->
          </div>
        </div>


      </div>
     <div class="modal-footer" style="">
        <button id="submit" ng-click="saveLegislation()" type="submit" class="btn btn-primary-alt pull-right" ng-class="{'btn btn-primary-alt pull-right':(saveStatus==0), 'btn btn-primary pull-right':(saveStatus == 1), 'btn btn-success pull-right':(saveStatus == 2)} "  style="width:120px"><i ng-if="saveStatus==1" class='fa fa-fw fa-sun-o fa-spin'></i>{{(saveStatus==0)?'Save Legislation':(saveStatus==1)?'Saving...':'Saved'}}</button>

      </div>
 </div>
</div>

</div>
