<div id="page-heading">
    <!-- <ol class="breadcrumb">
                <li class='active'><a href="index.htm">Dashboard</a></li>
            </ol> -->

    <h1>Dashboard</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle">
                           Export as <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
        </div>
    </div>
</div>


<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-12">
            <div class="row">


                <div class="col-md-4 col-sm-5" ng-controller="CasesController">
                    <a class="info-tiles tiles-primary dashboard-tiles" href="#/cases">
                        <div class="tiles-heading">
                            <div class="pull-left">Cases</div>
                            <div class="pull-right">Performance &nbsp<span id="target"></span>{{(summary.completeCases*100/summary.totalCases) | number:2}}% <span id="application"></span></div>
                        </div>



                        <div style="height:250px;" class="tiles-body">
                            <div class="row">
                                <div class="col-xs-2 pull-left"><i style="font-size:40pt;" class="fa fa-gavel"></i></div>
                                <div class="col-xs-10 pull-right text-right">
                                    <span style="font-size:40pt; position: relative; top:-20px" class="packages" id="total">
                                                {{summary.totalCases | number}}
                                          </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="font-size: 0.4em">
                                    <div class="row">
                                        <div class="col-xs-7" style="font-size: 1em">Complete</div>
                                        <div class="col-xs-3 text-right" id="online" style="font-size: 1em">{{summary.completeCases | number:0}} </div>
                                        <div class="col-xs-2 text-right pull-right" id="online" style="font-size: 1em">({{(summary.completeCases*100/summary.totalCases) | number:0}}%) </div>
                                    </div>
                                    <div class="row text-warning">
                                        <div class="col-xs-7" style="font-size: 1em">Incomplete</div>
                                        <div class="col-xs-3 text-right" id="manual" style="font-size: 1em">{{summary.incompleteCases-summary.caseStubs| number:0}} </div>
                                        <div class="col-xs-2 text-right pull-right" id="online" style="font-size: 1em">({{(summary.incompleteCases*100/summary.totalCases) | number:0}}%) </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7" style="font-size: 1em">Stubs</div>
                                        <div class="col-xs-3 text-right" id="manual" style="font-size: 1em">{{summary.caseStubs | number:0}} </div>
                                        <div class="col-xs-2 text-right pull-right" id="online" style="font-size: 1em">({{(summary.caseStubs*100/summary.totalCases) | number:0}}%) </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7" style="font-size: 1em">Verified - Primary</div>
                                        <div class="col-xs-3 text-right" id="manual" style="font-size: 1em">{{summary.primaryReview | number:0}} </div>
                                        <div class="col-xs-2 text-right pull-right" id="online" style="font-size: 1em">({{(summary.primaryReview*100/summary.totalCases) | number:0}}%) </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7" style="font-size: 1em">Verified - Secondary</div>
                                        <div class="col-xs-3 text-right" id="manual" style="font-size: 1em">{{summary.secondaryReview | number:0}} </div>
                                        <div class="col-xs-2 text-right pull-right" id="online" style="font-size: 1em">({{(summary.secondaryReview*100/summary.totalCases) | number:0}}%) </div>
                                    </div>



                                </div>

                            </div>




                        </div>


                    </a>
                </div>





                <div class="col-md-4 col-sm-5">
                    <a class="info-tiles tiles-midnightblue dashboard-tiles" href="#legislations">
                        <div class="tiles-heading">
                            <div class="pull-left">Legislations</div>
                            <div class="pull-right"><span id="penetration">{{(legislationSummary.completedLegislations*100/legislationSummary.totalLegislations) | number:2}}%</span>&nbsp<span id="application"></span></div>
                        </div>



                        <div style="height:250px;" class="tiles-body">
                            <div class="row">
                                <div class="col-xs-2 pull-left"><i style="font-size:40pt;" class="fa fa-file-text"></i></div>
                                <div class="col-xs-10 pull-right text-right">
                                    <span style="font-size:40pt; position: relative; top:-20px" class="packages" id="total">
                                                {{summary.totalLegislations}}
                                          </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="font-size: 0.6em">
                                    <div class="row">
                                        <div class="col-xs-6" style="font-size: 1em">Complete</div>
                                        <div class="col-xs-5 text-right pull-right" id="online" style="font-size: 1em">{{summary.completedLegislations}}</div>
                                    </div>
                                    <div class="row text-warning">
                                        <div class="col-xs-6" style="font-size: 1em">Incomplete</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{summary.incompleteLegislations}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6" style="font-size: 1em">Verified</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6" style="font-size: 1em">Auto Generated</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{}}</div>
                                    </div>


                                </div>

                            </div>




                        </div>
                    </a>
                </div>




                <div class="col-md-4 col-sm-5">
                    <a class="info-tiles tiles-green dashboard-tiles" href="#">
                        <div class="tiles-heading">
                            <div class="pull-left">Users</div>
                            <div class="pull-right"><span id="penetration"></span>&nbsp<span id="application"></span></div>
                        </div>


                        <div style="height:250px;" class="tiles-body">
                            <div class="row">
                                <div class="col-xs-2 pull-left"><i style="font-size:40pt;" class="fa fa-file-text"></i></div>
                                <div class="col-xs-10 pull-right text-right">
                                    <span style="font-size:40pt; position: relative; top:-20px" class="packages" id="total">
                                                {{userPerformance.length}}
                                          </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="font-size: 0.6em">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-7" style="font-size: 1em">Active</div>
                                        <div class="col-xs-5 text-right pull-right" id="online" style="font-size: 1em">{{}}</div>
                                    </div>
                                    <div class="row text-warning">
                                        <div class="col-xs-3 col-sm-7" style="font-size: 1em">Inactive</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-7" style="font-size: 1em">Internal</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-7" style="font-size: 1em">External</div>
                                        <div class="col-xs-5 text-right pull-right" id="manual" style="font-size: 1em">{{}}</div>
                                    </div>


                                </div>

                            </div>




                        </div>
                    </a>
                </div>








            </div>
        </div>
    </div>

    <!-- <div class="row">
                <div class="col-md-2">
                    <tile type="indigo" heading="Members">
                        <div class="text-center">
                            <div class="info-text">1,73<span class="subscript">K</span></div>
                            <div class="info-text-bottom">increased by 15%</div>
                        </div>
                    </tile>
                </div>
                <div class="col-md-2">
                    <tile type="danger" heading="Orders">
                        <div class="text-center">
                            <div class="info-text">1562</div>
                            <div class="info-text-bottom">increased by 30%</div>
                        </div>
                    </tile>
                </div>
                <div class="col-md-2">
                    <tile type="success" heading="Revenue">
                        <div class="text-center">
                            <div class="info-text"><span class="superscript">$</span>77,2<span class="subscript">K</span></div>
                            <div class="info-text-bottom">increased by 12%</div>
                        </div>
                    </tile>
                </div>

                <div class="col-md-2">
                    <tile type="primary" heading="Bandwidth">
                        <div easypiechart class="easypiechart"
                            data-percent="5"
                            data-options="{
                                animate: { duration: 0, enabled: false},
                                barColor: 'rgba(255,255,255,0.6)',
                                trackColor: 'rgba(255,255,255,0.2)',
                                scaleColor: 'rgba(255,255,255,0.3)',
                                lineWidth: 2,
                                size: 100,
                                lineCap:'circle'
                            }"><span class="percent">5</span>
                        </div>
                    </tile>
                </div>

                <div class="col-md-2">
                    <tile type="inverse" heading="RAM Usage">
                        <div easypiechart class="easypiechart"
                            data-percent="64"
                            data-options="{
                                animate: { duration: 0, enabled: false},
                                barColor: 'rgba(255,255,255,0.6)',
                                trackColor: 'rgba(255,255,255,0.2)',
                                scaleColor: 'rgba(255,255,255,0.3)',
                                lineWidth: 2,
                                size: 100,
                                lineCap:'circle'
                            }"><span class="percent">64</span>
                        </div>
                    </tile>
                </div>

                <div class="col-md-2">
                    <tile type="midnightblue" heading="Server Load">
                        <div easypiechart class="easypiechart"
                            data-percent="19"
                            data-options="{
                                animate: { duration: 0, enabled: false},
                                barColor: 'rgba(255,255,255,0.6)',
                                trackColor: 'rgba(255,255,255,0.2)',
                                scaleColor: 'rgba(255,255,255,0.3)',
                                lineWidth: 2,
                                size: 100,
                                lineCap:'circle'
                            }"><span class="percent">19</span>
                        </div>
                    </tile>
                </div>
            </div> -->


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-gray">
                <div class="panel-body no-border">
                    <h4>User Count</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb20 mt20" flot-chart style="width: 100%; height:250px" data-flot-data="plotStatsData" data-flot-options="plotStatsOptions"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="visitor-sparklines col-xs-12 col-sm-4 col-md-4 col-xs-offset-4">

                                <h3 style="text-align: center; margin: 0;">{{userPerformance.length | number:0}}</h3>
                                <p style="text-align: center; margin: 0;">Total Users</p>
                                <hr class="hidden-md hidden-sm hidden-lg">
                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="panel panel-gray">
                <div class="panel-body no-border">


                    <h4>User Growth</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb20 mt20" flot-chart style="width: 100%; height:250px" data-flot-data="plotGrowthData" data-flot-options="plotStatsOptions"></div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="visitor-sparklines col-xs-12 col-sm-4 col-md-4 col-xs-offset-2">

                                <h3 style="text-align: center; margin: 0;">{{summary.totalGrowth | number:0}}</h3>
                                <p style="text-align: center; margin: 0;">Total Growth</p>
                                <hr class="hidden-md hidden-sm hidden-lg">
                            </div>

                            <div class="visitor-sparklines col-xs-12 col-sm-4 col-md-4">

                                <h3 style="text-align: center; margin: 0;">
                                    {{summary.totalGrowth/(userPerformance.length - summary.totalGrowth)*100 | number:0}}%
                                </h3>
                                <p style="text-align: center; margin: 0;">Growth Percentage</p>
                                <hr class="hidden-md hidden-sm hidden-lg">
                            </div>



                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>





    <div class="row">



    </div>
</div>
<!-- container -->